[2016-09-30 15:32] nitrix opened #2 "LICENSE file"
Please chose a license for the good of the open-source community (:

As it currently stand, albeit very nice, this tremendous amount of work cannot be incorporated into other research / products / etc. That's because in many countries, unlicensed work belongs by copyright laws to its original author.

Something like MIT would probably be ideal. Your name will be kept, but we'll all be able to use

[2016-09-30 17:37] squarism opened #3 "How to run / develop this project"
For anyone curious (on a mac):

Run:

[code]

🌻

[2016-09-30 19:15] Rubonnek commented on #3
In Arch Linux:

    # pacman -S mono

[2016-09-30 19:27] ultrasam commented on #3
How can I run this on a PC?

[2016-09-30 19:44] nilsding commented on #3
@ultrasam I lazied out and created a new C# project in Xamarin Studio (which is pretty much like Visual Studio) and added the C# files which where in the repo.  Had to add references to `System.Xml` and `System.Drawing` before building.

[2016-09-30 19:54] ultrasam commented on #3
When creating a new C# project in Visual Studio it gives me several options:
Windows Forms Application,
WPF Application
Console Application
Shared Project
Class Library

Which one should I pick??

[2016-09-30 19:56] nilsding commented on #3
Use a Console Application

[2016-09-30 20:30] ultrasam commented on #3
I've got all this errors when I tried to build this, I am new at doing a project in Visual Studio 2015, sorry about that, but any help would be appreciated
![image](https://cloud.githubusercontent.com/assets/688251/19005924/bd250ca2-8722-11e6-8965-4c86903e2ab6.png)

[2016-09-30 20:35] mwaltersva commented on #3
Right click References > Add, select System.Draw

[2016-09-30 20:47] ultrasam commented on #3
Ok, perfect that worked it compiled with no errors, now how do I use the program??

[2016-09-30 20:57] ultrasam commented on #3
Ok, I think I had two programs with the method main and that was causing problems, but now I fixed that and now I am getting the error shown here:
![image](https://cloud.githubusercontent.com/assets/688251/19006708/9b48fd24-8726-11e6-8438-f2c71ec6c534.png)
By the way the file samples.xml is there...

[2016-09-30 21:33] dzoba commented on #3
After following @squarism 's directions I am getting

[code]

[2016-09-30 21:43] kchapelier commented on #3
@ultrasam is the samples.xml files actually copied to the build directory ? If it isn't you could try copy pasting it there manually to confirm it fixes the issue you're having. I can't remember what was the setting to include a resource file in the build system of VS though...

[2016-09-30 21:54] ultrasam commented on #3
well the file is there and I included it in the project:
![image](https://cloud.githubusercontent.com/assets/688251/19008090/7af3d370-872e-11e6-9dae-710de347e99c.png)
Here is my project's folder:
![image](https://cloud.githubusercontent.com/assets/688251/19008100/93f00ae2-872e-11e6-9926-a235bfdb1010.png)

Do you see anything wrong there?

[2016-09-30 22:18] ultrasam commented on #3
Ok I put the samples folder and samples.xml inside the bin/Debug/ folder and it worked!!!, it started creating a bunch of BMPs, now if I want to use my own designs, should I put them on the samples folder??

[2016-09-30 22:55] kchapelier commented on #3
yes, and reference them in the samples.xml file and fiddle with the properties a bit

[2016-09-30 23:21] TheDudeFromCI commented on #3
Is there a pre-compiled version of this? I am very new to C#, and have no idea how to compile or run it. >.>

[2016-10-01 00:20] ultrasam commented on #3
Here: https://dl.dropboxusercontent.com/u/24996373/TileCreation.rar

I hope this helps somebody

[2016-10-01 02:28] TheDudeFromCI commented on #3
Thanks, that's perfect. ^^

[2016-10-01 03:19] ultrasam commented on #3
If you make any new bitmaps or any interesting tileset could you share it, I want to learn

[2016-10-01 03:25] cmcfarla opened #8 ""Summer" Tileset Origin"
The tileset you call "Summer" was created by Hermann Hillmann and distributed on sites popular with hobby game developers 10+ years ago. I'm not sure what the official source is any more or how to contact the author; all the old links I knew to it seem to have been taken offline.

Here's an [archive.org copy of the VBExplorer site](https://web.archive.org/web/20050206194145/http://www.vbexplorer.c

[2016-10-01 08:07] lemtzas commented on #2
It's apparently MIT. https://github.com/mxgmn/WaveFunctionCollapse/blob/master/Main.cs

[2016-10-01 08:08] CoenraadS commented on #3
Windows Installation Instructions:

1. Download NuGet: https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
2. CMD > nuget install Microsoft.Net.Compilers
3. CMD > \Microsoft.Net.Compilers.1.3.2\tools\csc.exe *.cs

[2016-10-01 11:11] NNNenov commented on #3
Thank you all for helping me to understand how to set this up!
I am a total amateur, so am playing with this as one.
The first thing I tried to do was modify one of the sample images, "flowers", I changed the colours of the petals, and added some other hues of green in the stems.
But this results in many "CONTRADICTION"s, it would be really good to have an idea why this is happening, is it because

[2016-10-01 17:03] nylki commented on #3
In Fedora 24 this worked for me (besides mono, `mono-data-oracle` was needed):

[code]

[2016-10-01 17:05] nylki opened #11 "Unhandled Exception: System.Exception: 0.0001 is not a valid value for Single"
On Fedora 24, Mono JIT compiler version 4.2.4.

[code]

[2016-10-01 17:35] drake7707 commented on #11
I assume your locale is using the comma as decimal point. Changing the current thread culture to System.Globalization.Culture.InvariantCulture should fix the problem.

[2016-10-01 21:13] ejmahler opened #14 "Bug: For some examples, model.Run() returns true when false is expected"
WaveFunctionCollapse version tested: commit 333f592 (HEAD as of this writing)

In Main.cs, on line 40, we check to see if the model has found a solution with the given seed. If it has found a solution, we then save a bmp file of the solution. Thus, the expectation is that any bmp file saved via this program should be completely "collapsed".

For some examples, this is not the case, and bmp files a

[2016-10-01 21:25] ejmahler commented on #14
The same bug occurs with samples.xml
[code]

And seed
`int seed = 362313200;`

This means that the bug occurs with both the overlapping model and the simple tiled model.

[2016-10-01 21:45] kchapelier commented on #14
I think this is the intended behavior with the `limit` property : it actually limits the number of iterations the generation is allowed to do. If the number of iterations reaches this limit without hitting a `contradiction` condition, the generation is considered a success.

[2016-10-01 21:53] ejmahler commented on #14
As I read the source of Run(), you're clearly correct.

But that doesn't seem intuitive to me -- even when providing an iteration limit, the main thing I want to know is whether or not the model now has a usable result. How would I know whether the result was complete or not? So IMO the bug still stands: I expect a return of true when the generation has completed successfully, and false otherwise.

[2016-10-01 21:58] nylki commented on #11
I actually do. I am sorry, but  I have no experience with MonoCould; could you indicate where the change would have to be made, in the code or as a compiler argument?

[2016-10-01 22:03] kchapelier commented on #14
I see that the samples.xml in the repo actually have those `limit` set. I wrongly assumed you added them. The `limit` properties should probably be removed from the file as they seems to be debug helpers more than anything.

[2016-10-01 22:08] ejmahler commented on #14
I edited the issue to indicate that that entry came from the existing samples.xml

[2016-10-02 00:35] mxgmn commented on #14
I included samples with the `limit` param in `samples.xml` to show how to generate partially completed results. Because they can be pretty, like the "Circles" one linked from README.

[2016-10-02 00:39] mxgmn commented on #8
Thank you! I'll update the readme.

[2016-10-02 00:51] mxgmn commented on #3
@NNNenov First, remove the foundation param at all, for default flowers it's hard to set up. Ground in results will be in the middle of a picture, but that's fine. Do contradictions remain? If yes, I need to see your bitmap.

[2016-10-02 07:54] tomisme commented on #2
The author [said on hackernews](https://news.ycombinator.com/item?id=12612246) that there is no LICENSE file because there are samples in the repo with unknown licenses.

[2016-10-02 09:04] drake7707 commented on #11
in Program.cs in the Main method (which is the entry point of the application) add the following before the whole XML parsing is going on, so at the top of the method:
`System.Threading.Thread.CurrentThread.CurrentCulture = System.Globalization.CultureInfo.InvariantCulture;`

[2016-10-02 09:49] nylki commented on #11
@drake7707 Thank you, that worked! :)
I'll leave the issue open for @mxgmn to decide.

[2016-10-02 11:10] mxgmn commented on #2
@tomisme Yeah, thank you. But it seems that LICENSE files became a tradition, and traditions are as important as laws, so I'll just write in that file which files are licensed and which are not.

[2016-10-02 11:31] imaginary-unit commented on #3
In Ubuntu 16.04 running the command
`mcs -pkg:dotnet /reference:System.Drawing.dll *.cs`

results in the following:
`error CS1061: Type `System.Xml.XmlNode' does not contain a definition for `Get' and no extension method `Get' of type `System.Xml.XmlNode' could be found. Are you missing an assembly reference?`

Can't figure out what reference am I missing :( including System.Xml changes nothing.
N

[2016-10-02 12:20] kchapelier commented on #3
@imaginary-unit  Do you have the Stuff.cs in the same folder ? The extension method in question is here : https://github.com/mxgmn/WaveFunctionCollapse/blob/master/Stuff.cs#L47

[2016-10-02 12:30] imaginary-unit commented on #3
@kchapelier Ouch, somehow I didn't include it.. thanks! now it works.

[2016-10-02 15:55] NNNenov commented on #3
@mxgmn yeah it looks like I picked the most fussy one to test first! It works fine without the foundation param. I am curious though what this foundation param means and its input values, in the example its set to 102, but the source image is  only 23 pixels high?

[2016-10-02 20:03] Cookingsource commented on #11
I had the same problem, i solved it in a pull request. The method he currently uses to parse strings into numbers does it with local system locale. There's an alternative that uses a culture invariant locale.

[2016-10-02 20:55] mxgmn commented on #3
@NNNenov Foundation is a special case of constraint. I use it in examples like Flowers, City, Platformer to make the ground level be at the bottom of the output. If you delete the foundation param from samples.xml, you'll see that ground appears anywhere in the middle of an output, not necessary at the bottom. Why 102? It goes through input image in a scanline order. First it sees a 3x3 pattern of

[2016-10-03 03:01] nanodeath opened #19 "Non-deterministic enumeration of weights in OverlappingModel"
While porting this over to Kotlin (whee), I discovered what I think is the root cause of my troubles: when populating the `patterns` and `stationary` arrays in OverlappingModel, the keys of `weight` are iterated over. The order of this enumeration is non-deterministic, and the patterns and stationary can vary significantly based on the ordering.

https://msdn.microsoft.com/en-us/library/xfhwa508(v

[2016-10-03 03:25] BrianLovelace128 commented on #3
I ran the program just fine, but I'm unable to open any of the .bmp files. Image viewer is giving me a message saying "File has bogus header data." Does anyone have any idea why this may be?

[2016-10-03 04:18] nanodeath commented on #19
I'm not really sure what the full ramifications of this are, BUT appending `.OrderBy(x => x)` to `Keys` still seems to work, and doing the equivalent enables the Kotlin/JVM version to function as well. You don't *have* to do this, but the order should be well-defined one way or another.

---

Update: correction, it always works for some of them (like City), but not for others (like Flowers). With

[2016-10-03 04:40] nanodeath commented on #19
Yeah pretty sure messing with the weights order also messes up the foundation index value. The output of Platform looks messed up (almost as if there's no foundation set at all; multiple strata instead of just the one), and as semi-mentioned before, the given `foundation` value doesn't work for Flowers anymore.

[2016-10-03 04:52] nanodeath commented on #19
Sorry for all the updates, but on the JVM side, using [`LinkedHashMap`](https://docs.oracle.com/javase/8/docs/api/java/util/LinkedHashMap.html) (which preserves insertion order as iteration order) to store the `weights` seemed to do the trick -- `foundation` is working and all the samples are working. I tried switching your C# version over to [`OrderedDictionary`](https://msdn.microsoft.com/en-us/

[2016-10-03 05:31] kchapelier commented on #3
@BrianLovelace128 Try renaming them to png, this is a known issue which will probably be fixed in the next version ( https://github.com/mxgmn/WaveFunctionCollapse/pull/1 )

[2016-10-03 09:02] NNNenov commented on #3
@BrianLovelace128 it looks like the images are actually .png changing the extension should sort it out

[2016-10-03 09:18] NNNenov commented on #3
@mxgmn I thought I understood this but the 3x3 pattern part threw me off a little.
so 0 is the index of the top left pixel? and that pixel is the top left anchor/start point of the 3x3 pixel sector?  like this? [flowers ref](https://dl.dropboxusercontent.com/u/24304389/scanline%20order.png)
So each index is 3x3 pixels, and to set an anchor you count the amount of pixels in scanline order, then qua

[2016-10-03 14:07] mxgmn commented on #8
@cmcfarla Thank you! I've updated the readme.

[2016-10-03 14:07] #8 closed

[2016-10-03 14:10] mxgmn commented on #14
@ejmahler @kchapelier Note sure if people get notifications if I don't mention their username. It seems that everybody understood each other here, closing.

[2016-10-03 14:10] #14 closed

[2016-10-03 14:55] nanodeath commented on #19
I think this is a pretty serious issue, so I'll send a pull request your way tonight. I'll try to wrap the OrderedDictionary ugliness in extension methods so as not to pollute the code.

[2016-10-03 15:23] abetusk commented on #2
@mxgmm, you might want to mention that each source file should be checked for the license they're under as they're under different or unknown licenses and that most (?) of them are under an MIT license.  Obviously the individual files should be checked for their respective license but it's nice from a casual observer point of view to know that the project is "mostly" free/libre/open source.

[2016-10-03 15:29] petersvp commented on #11
Add `using System.Globalization;`

in Main add:
`CultureInfo.DefaultThreadCurrentCulture = CultureInfo.InvariantCulture;`

This will force proper culture. Also, set Bulgaria as your region during development, it will help you a lot with fixing such stuff :)

[2016-10-03 15:32] petersvp opened #20 "Code cleanup suggestion"
Hi. It will be good if you divide away the I/O part from actual logic part so we can actually extract whatever we need. I also suggest thinking about adding a C++ implementation. Also i'm getting too much contradictions if I specify high image sizes for some samples.

[2016-10-03 15:49] kchapelier commented on #20
Regarding the C++ implementation, you might want to check the port by Emil Ernerfeldt  https://github.com/emilk/wfc

[2016-10-03 22:23] nanodeath commented on #20
Not speaking for the maintainer here, but there are a lot of little enhancements that could be made to this codebase, but I'm not necessarily sure that we *should* make them. I'm treating this repo as a "reference implementation" for how (algorithmically) to do various things, and not how to, uh, actually organize code. If there was another C# version that was usable as a library (along with the i

[2016-10-03 22:26] unknownbrillance commented on #20
I have no idea. What your talking about I am a Missouri girl

[2016-10-03 22:26] nanodeath commented on #3
@NNNenov I think so, but it only counts *unique* 3x3 patterns. If you have a solid block of gray that's 9x9, it'll only yield a single index value. Look for `T` in the code.

Basically, without some sort of visual editor tool, I don't think it's actually practical to try to set our own foundation values (yet).

[2016-10-03 22:27] nanodeath commented on #20
A wild bot appears!

[2016-10-03 22:38] mxgmn commented on #3
@nanodeath @NNNenov Actually, now I see a better way to set it for flowers: foundation="-4".

[2016-10-03 22:41] mxgmn commented on #3
@NNNenov Your picture is not completely right. 0 is not the index of top left pixel. 0 is the index of the whole 3x3 blue block. A mental unit test: 6 is the index of blue 3x3 block with one yellow pixel in the middle row right column.

[2016-10-03 22:45] nanodeath commented on #3
Heh, that was a bit of a brain bender. The top left corner of "6" is at (2,1), right? (assuming 0-based indexing)

[2016-10-03 22:54] gliptak commented on #3
Current ```HEAD``` compiles on ```Ubuntu 16.04```:
[code]
[code]

[2016-10-03 23:55] mxgmn commented on #3
@nanodeath Yes, if I counted them right. Checked it in my gui: correct.

[2016-10-04 15:15] nanodeath opened #22 "3Bricks.bmp is (slightly) corrupt (?)"
3Bricks.bmp opens fine in C# (Windows, CLR), opens fine in my editor (Paint.NET), but crashes and burns in Java:
[code]
Might be a damaged header or something. In any case, it'd be nice if someone could open and re-save 3Bricks.bmp in a trusted editor.

[2016-10-04 15:20] mxgmn commented on #22
@nanodeath  Yeah, I noticed that, I'll move everything into png today.

[2016-10-04 16:21] NNNenov commented on #3
So if the image has multiple 3x3 sectors with identical pixels, they are all treated with the same index, so to figure out which sector the foundation should be at, I need to check how many unique 3x3 sectors there are, in a scan-line order?
@mxgmn would you or @nanodeath mind marking a few numbered 3x3 sectors over the [sample image](https://dl.dropboxusercontent.com/u/24304389/scanline%20order.p

[2016-10-04 16:25] mxgmn commented on #22
@nanodeath Is it corrupt now?

[2016-10-04 16:26] nanodeath commented on #3
@NNNenov here, I've annotated the first two rows based on the top-left corner. (in hex)
![flowers_annotated](https://cloud.githubusercontent.com/assets/10625/19082835/a314ec5c-8a14-11e6-855a-0a6673a1e3ac.png)

[2016-10-04 16:27] nanodeath commented on #22
I won't be able to test until tonight (another 9 hours or so).

[2016-10-04 16:49] mxgmn commented on #3
@NNNenov Yes.

@nanodeath @NNNenov This is the correct ordering with symmetry=1. With symmetry=2 ordering is a little different, but anyway it illustrates the idea better then symmetry=2, it's just to weird then, no need to re-upload. [Here](http://i.imgur.com/8takoFb.png) I made a picture with big digits (and still symmetry=1) to illustrate that indices enumerate whole 3x3 blocks.

[2016-10-04 17:18] nanodeath commented on #3
Okay, that took me a little while to figure out. From my symmetry=1 image, because 1 and 5 are mirror images of each other, 5 doesn't get generated at all in the symmetry=2 case (rather, 5 could mean something totally different and unrelated). Correct?

[2016-10-04 17:26] mxgmn commented on #3
@nanodeath Yes, it would be 0, 0, 1, 3, 5, 4, 2, 0, 0, 0, 1, ...

[2016-10-04 17:39] NNNenov commented on #3
I think I understand too.. so now I'm wondering @mxgmn how did you calculate the foundation sector 102 for the flowers image? Did you have to use some sort of function to get the sector based on target pixel?

[2016-10-04 17:57] nanodeath commented on #3
@NNNenov he has a GUI tool I think. FWIW, I was planning on making my own little tool using JavaFX to do something similar.

If anyone else is curious about what symmetries are and can be, it can be any value between 1 and 8 and is captured [here](https://github.com/mxgmn/WaveFunctionCollapse/blob/c478b0e5803a8b87c22ba3613132e37297881cf0/OverlappingModel.cs#L101-L108). 1 = original, 2 = reflected,

[2016-10-04 17:57] mxgmn commented on #3
@NNNenov We know what T is (T=106 for flowers, you can just print T in the constructor), so we can just count from the back, ground = 106 - 4 = 102. I myself have a gui that just tells me the index when I point a mouse on a pixel.

[2016-10-04 17:59] nanodeath commented on #3
You can also use negative numbers (e.g. -1 is the last unique pattern), so if your unique pattern happens to be near the beginning or end, you can just guess based on that. Granted, it gets confusing when you factor in reflections and rotations...

[2016-10-04 21:38] tomprogrammer commented on #19
The C# code actually returns the patterns and stationary weights in a deterministic order (on Mono Stable 4.6.1.3/abb06f1, LLVM disabled).

I discovered, that the foundation pattern just describes the bottom boundary.
Examples from the C# code:
[code]

I use that to calculate the pattern from the sample using the coordinates (0, SMY - 1) and finding the index of this pattern in the pattern/station

[2016-10-04 22:39] nanodeath commented on #19
Yes, "foundation" as in, the bottom. It's been renamed to "ground" just today, actually, which is a bit clearer.

And that's a good idea -- you're passing in the coordinates that you want to be the ground, and then this gets mapped back into the index transparently, right? For completeness, you might also allow the caller to provide reflection and rotation information, symmetry-providing.

---
It'

[2016-10-05 00:02] mxgmn commented on #2
@abetusk Thanks. Done.

Closing.

[2016-10-05 00:02] #2 closed

[2016-10-05 01:07] mxgmn commented on #19
@nanodeath Somehow I always assumed that foreach for dict.Keys goes through it in the order of filling, and it has always worked. But yeah, it's risky. I can change it to List<Tuple<int, int>>, or you already prepared a PR?

[2016-10-05 01:10] mxgmn commented on #19
@tomprogrammer Nice change for foundation, but it's almost always -1 anyways, and if your sample has flower roots near (0, SMY - 1), then this method won't work. So I'll leave it as it is.

[2016-10-05 01:12] nanodeath commented on #19
I still think OrderedDictionary might be better -- if it's a list, you have to scan through it a lot to see if that subimage has already been detected. On the other hand, OrderedDictionary's API is pretty rough 😉

I haven't started on a PR, but I was just about to. I can hold off if you'd rather do it yourself.

[2016-10-05 01:15] nanodeath commented on #22
I've [switched](https://gitlab.com/nanodeath/kollapse/commit/ab0d0e8a4ce5622f5f1e12d909112bf26095e74e) over to the PNGs and everything's working great. I'm going to resolve the issue.

[2016-10-05 01:15] #22 closed

[2016-10-05 01:18] mxgmn commented on #19
@nanodeath Yeah, I'll do it. I prefer sticking to basic data types when possible.

[2016-10-05 01:54] mxgmn commented on #19
@nanodeath There was a simpler solution =).

[2016-10-05 01:56] nanodeath commented on #19
@mxgmn Ah, glad to hear it.

[2016-10-05 02:55] #19 closed

[2016-10-05 02:59] mxgmn commented on #11
I merged @Cookingsource 's PR, so this should be solved.

[2016-10-05 02:59] #11 closed

[2016-10-05 03:04] mxgmn commented on #20
@petersvp You can try setting periodic="False" for smaller contradiction rate. To decrease them even further I would have to modify the algorithm: adding backtracking or Merrell's heuristic.

[2016-10-05 03:04] #20 closed

[2016-10-05 14:15] kintovt opened #23 "How can i try 3d mode?"

[2016-10-05 14:33] Asmageddon commented on #20
@mxgmn I believe what @petersvp wanted to suggest was making the code easier to dissect, which I think is a valid recommendation.

Also, out of curiosity, what is Merrell's heuristic?

[2016-10-05 14:49] Asmageddon commented on #20
Also, would it perhaps be possible to solve contradictions with backtracking not the algorithm, but rather, say, 2^X regions/pixels around the contradiction, and trying to solve again for that?

[2016-10-05 16:34] mxgmn commented on #23
This repo contains only 2d models, 3d models will be in a different repo later.

[2016-10-05 16:34] #23 closed

[2016-10-05 16:53] mxgmn commented on #20
@Asmageddon @petersvp I don't see any particular way to make code structure better. If I make I/O completely independent from logic, I would have to sacrifice much in brevity, they are already separated quite well. If you have a specific suggestion, please make a PR.

@Asmageddon Merrell's heuristic is a heuristic Paul Merrell uses in a paper that is the main inspiration for this work, I linked it

[2016-10-05 17:30] Asmageddon commented on #20
Oh, they do? I suppose that was something to be expected.

[2016-10-05 18:28] nanodeath opened #24 "Unit tests"
It would be a good idea to have some unit tests on this code. Ensure that given an input and some seed, it does a pixel-by-pixel comparison of that output with an expected output image. Would make changes much safer. (I have a few examples in [Kollapse](https://gitlab.com/nanodeath/kollapse/blob/63a009e66363b296d080aabca03abedcd9ba1f57/src/test/kotlin/ConsistencyTest.kt), if that helps any).

[2016-10-05 21:56] mxgmn commented on #24
I prefer not to write unit tests for probabilistic functions. One can fix seeds, but they will still be completely unverifiable for humans. And if I change the algorithm a bit, even if I don't change it but just optimize the Observe() method to not call RNG so often, I would need completely new unit tests. You can take the other approach in Kollapse of course.

[2016-10-05 21:56] #24 closed

[2016-10-05 22:04] nanodeath commented on #24
You wouldn't need a new unit test...you'd just update the expected image to match the new output. Otherwise, there's really no way to make changes with confidence that you didn't break something.

[2016-10-05 22:16] d-kr commented on #24
Or one could just check the hash of the bitmap (-data). Then they need to change only one line if they need to.

[2016-10-06 07:28] ejmahler opened #25 "Infinite loop in OverlappingModel constructor"
WaveFunctionCollapse version tested: 1cf308c (HEAD of master as of this writing)

When I run the program with a specific setting and image, I get an infinite loop on line 85 of OverlappingModel.cs in the constructor:

[code]

This loop appears to be doing a combination division and modulo of "residue / power". When I replace it with a division and modulo, I get a division by zero error -- IE, 'pow

[2016-10-06 13:15] mxgmn commented on #25
Yes, the issue is in the integer overflow. A fast fix is to make index long integer, a better one is to abolish indices altogether, I'll update the code.

[2016-10-07 15:23] mxgmn commented on #25
A "better" way turned out to be not that good, so I just made indices long.

@ejmahler Here are the results generated from your sample: N=5, N=4 and two N=3 with a dot trick from rid5x to make rooms bigger:

![](http://i.imgur.com/du55W8s.png)

[2016-10-07 15:23] #25 closed

[2016-10-07 15:24] mxgmn commented on #25
@ejmahler Btw, what other interesting samples have you discovered?

[2016-10-07 16:04] Asmageddon commented on #25
Personally I'm really curious what this would look on things that aren't patterns. For example, the pepe: https://www.quickhoney.com/image/pepe_ani_1

[2016-10-07 16:28] mxgmn commented on #25
@Asmageddon Pepe:

![](http://i.imgur.com/RbvGLSW.png)

[2016-10-07 16:30] tomprogrammer commented on #25
@mxgmn What is the dot tick?

[2016-10-07 16:33] mxgmn commented on #25
@tomprogrammer Placing dots in spacious areas of the input to make corresponding areas of the output bigger. See the attached results, I placed little gray dots in white rooms in your Office sample.

[2016-10-07 16:35] tomprogrammer commented on #25
Ah, interesting. Thanks for the explanation!

[2016-10-07 19:35] hemik1 commented on #3
Hey! Awesome piece of code! I managed to plug it into my unity voxel engine, got some fun results. I was wondering if you could elaborate on the 3d approach, those screenshots you shared look quite amazing. Will you be sharing a 3d repo by any chance?

[2016-10-07 19:39] Asmageddon commented on #25
@mxgmn Haha that's funky. Have you thought about fixing edges, or doing histogram matching to ensure one distribution or another?

[2016-10-07 20:02] mxgmn commented on #3
@hemik1 Thank you! Show the results then. Of course, 3d repo will also be public. This will not happen very soon though.

[2016-10-07 20:05] mxgmn commented on #25
@Asmageddon Sure. This repo contains the very basic version of WFC, one could also tune it, add other heuristics for specific needs.

[2016-10-09 01:58] Vermeille opened #27 "Unreadable"
Hello,

The source code is seriously unreadable:
- indentation is plain weird, not to say totally wrong
- variable names are meant to be useful for the reader. They should represent something, and their name should clearly tell what. "a" and "b" are not useful to anyone. They could have been if some documentation shows a formula including a and b, but...
- no commentary. No documentation, and the

[2016-10-09 03:59] margaret commented on #27
I started a fork earlier today where I'm just putting some comments around everything (mapping the README to the bits of the code it's relevant to, annotating the closures, etc). I'm not aiming to refactor it because I haven't written any C# before, but if anyone wants to collaborate on that I'd be happy to. I am trying to get to the point where I understand it well enough to write a Python port.

[2016-10-09 06:10] nanodeath commented on #27
Agreed -- some of the variables can be inferred fairly easily upon inspection (`FMX` (width), `FMY` (height), `T` (number of patterns/combinations), `N` (sample size)), but others are harder, like `stationary`, `periodic`, and `propagator`. Would be great to get some comments on those 😄

[2016-10-09 08:33] Vermeille commented on #27
margaret , that's really nice. Correcting the formatting is something that would be a first good step to make it a little more pleasant, but, sadly, not more meaningful. The two majors big steps I see are: 1) renaming variables so that they bare some more meaning, and 2) splitting the code into more smaller functions with a meaningful name.

What's the scope of the work you're doing? I could help

[2016-10-09 10:55] VelocityRa opened #28 "Support JSON Config Files (like the C++ ver.)"
Someone moving to the [C++ version](https://github.com/emilk/wfc) (for speed, perhaps) shouldn't have to port their config files to the format supported by that version.

JSON support is currently beeing implemented for that version ([Issue/Discussion](https://github.com/emilk/wfc/issues/2)) and I'll implement it here as well so that there's some common ground between the 2 versions. We've current

[2016-10-09 11:53] mxgmn commented on #28
No objections. Since the standard library doesn't support JSON, if you make this PR I'll leave it open like the command line one for people to merge in their forks.

[2016-10-09 11:53] #28 closed

[2016-10-09 11:56] VelocityRa commented on #28
[But it does support JSON](http://stackoverflow.com/a/24891561). I'm planning to use the first method, which is even more compatible.

[2016-10-09 11:56] mxgmn commented on #27
@Vermeille Hi! What lines have the wrong indentation?

[2016-10-09 12:05] mxgmn commented on #28
Oh, didn't know this, will consider JSON in future projects then. JSON PR is welcome, but I'll still leave it open since I don't want to support multiple branches.

[2016-10-09 12:12] VelocityRa commented on #28
Not sure what you mean by support multiple branches. *I'm* gonna handle the JSON parsing in my PR.
Also, if I'm not mistaken, the only file that needs to change is `Main.cs` (currently less than 60 LoC).

[2016-10-09 12:18] mxgmn commented on #28
If I add/remove examples or parameters, I would have to modify JSON parsing also.

[2016-10-09 12:29] VelocityRa commented on #28
Ah, I guess that makes sense.
Well, the goal for this was for people to actually use it, not make it harder by forcing them to either fork + merge the PR or paste the changes manually. This goes for the other unmerged PR as well, I doubt the vast majority of people using WFC know about it, let alone go through the trouble of using it.

Anyway, I'll talk with the other dev about the possibility of

[2016-10-09 12:36] mxgmn commented on #28
I'll link this command line PR from the readme then.

[2016-10-09 12:37] mxgmn commented on #27
@nanodeath

`stationary` is a probability distribution that WFC reads from a sample or a tiles data file. It describes probabilities of each tile to be placed on the observation step.

`periodic` is a boolean variable which tells if the output should be periodic or not.

`propagator` contains information about which tiles/patterns agree with each other when placed nearby.

[2016-10-09 12:38] VelocityRa commented on #28
Yeah that would be better. Might also want to include Install/Build instructions or at least link to the relevant Issue while you're at it.

[2016-10-09 12:39] mxgmn commented on #28
Yes, I'm going to.

[2016-10-09 12:41] mxgmn commented on #27
I'll link build instructions from the readme. Closing.

[2016-10-09 12:41] #27 closed

[2016-10-09 13:02] NNNenov commented on #3
It's been great fun playing around with this.
I would like to try and make the tiled model output a list containing the tile type and orientation (where applicable) at each tile index, for parsing to 3D software e.g:
tile[index] = tileShape[angle] // or tile[x][y] = tileShape[angle
so this data can be parsed into any 3D software to make a grid of "3D" tile shapes(its still technically 2D, but I ca

[2016-10-09 16:12] mxgmn commented on #3
@NNNenov I see. Your approach is the best that could be done fast. I'd suggest only using 2 colored pixels placed in a non-symmetric way instead of 3, otherwise you can't distinguish between 2 mirror symmetries. And, if you work with the C# code, using bitmapData directly instead of scanning a saved bitmap.

Returning an array of tiles together with rotations can't be implemented elegantly in this

[2016-10-09 16:43] NNNenov commented on #3
I'm not sure I follow you re: symmetry, in the samples I didn't see any simple tiled configuration with symmetry as a variable, I thought that was just for the overlapping model? Can simple tiled model mirror any tiles?

[2016-10-09 16:48] mxgmn commented on #3
@NNNenov Of course! There are symmetry parameters for individual tiles in the corresponding `data.xml` files.

[2016-10-09 16:55] NNNenov commented on #3
ah yes of course! I was just looking at one example (knots) which didn't use it..

[2016-10-09 17:16] mxgmn commented on #3
@NNNenov Knots also use it: there are only 5 tiles, without symmetries there would be 13.

[2016-10-09 17:19] nanodeath commented on #3
@mxgmn @NNNenov Maybe. File an [issue](https://gitlab.com/nanodeath/kollapse/issues) if you would use it (i.e. you're using the JVM).

I do have some regrets not implementing kollapse on a multi-target language...would be a little silly to have N implementations of WFC for N different platforms.

[2016-10-09 17:19] marvinside commented on #3
So i'm trying around with the Circuit Version and i tried to do a resistor. But i am unable to make the resistor connect to itself.
[code]
and
[code]

Also: is there any Documentation which side (number) is for used on which symmetry?

[2016-10-09 20:41] mxgmn commented on #3
@marvinside Could you show the picture of your resistor? Impossible to answer without that.

[2016-10-09 20:43] marvinside commented on #3
![resistor](https://cloud.githubusercontent.com/assets/3470697/19223493/af7f6fec-8e71-11e6-9b2f-eb096f5bdadb.png)

Here it is. Why is it important?

[2016-10-09 20:47] ejmahler commented on #25
@mxgmn I'm especially interested in the office building layouts. Similar to the dot trick, I've been lining the border of rooms with a distinct color if I want to enforce a maximum size which is larger than N.

And similar to using a color to mark doorways (Probably unnecessary tbh) I've been using a color to mark hallway entrances. If you look at the dot trick outputs, there are lots of giant roo

[2016-10-09 21:30] mxgmn commented on #25
@ejmahler Or placing dots in walls or in corners, yes.

About constraints, let me copy part of the conversation from another place:

"To start with constraints look how foundation (now ground) param is handled.

Foundation is a special case of constraint. I use it in examples like Flowers, City, Platformer to make the ground level be at the bottom of the output. If you delete the foundation param

[2016-10-09 22:06] mxgmn commented on #3
@marvinside Your 4 lines above are correct. But you need to add other lines to describe other ways how resistor can connect with itself and other tiles. For example:

[code]

Here is what output looks like:

![](http://i.imgur.com/nxiMYKh.png)

Don't forget to add resistor in the subset.

[2016-10-09 22:28] marvinside commented on #3
@mxgmn Do you have some Information what the Numbers mean? So at Symetry T what is 0, 1 and 2?

[2016-10-09 22:39] mxgmn commented on #3
@marvinside They are rotations 90 degrees counterclockwise: 1 - 90 degree rotation, 2 - 180, 3 - 270 = -90.

[2016-10-10 14:33] gromilQaaaa commented on #3
Well, my task is to make an infinite tiled 2d maze with chunks 100x100. The maze should contain treasures, buildings and enemies. I thought this asset would give me everything I need, but no... Absolutely no comments (even for input fields like symmetry, N, periodic)... Anyway I managed to launch it with this input image (red is building, blue is treasure):
![labirinth](https://cloud.githubusercon

[2016-10-10 17:21] mxgmn commented on #3
@gromilQaaaa One method to make output connected is to run a "fill" (like in graphics editors) process in a separate layer. By default WFC doesn't guarantee connectedness. I don't really follow your second question, WFC needs input data in any case.

[2016-10-10 18:02] selfsame commented on #3
@gromilQaaaa @mxgmn I believe the second question was if WFC can output a tiling texture. I believe you could achievethat by using a N thick border constraint on the output array, where top/bottom left/right is repeated, and cropping that from the final output?

[2016-10-10 18:14] mxgmn commented on #3
@selfsame @gromilQaaaa Then sure, periodic="True" option generates a periodic texture. Most of the examples on the readme page are periodic.

[2016-10-10 18:15] nanodeath commented on #3
@mxgmn So periodic means the images should tile seemlessly, then? Didn't realize that.

[2016-10-10 18:18] mxgmn commented on #3
@nanodeath Yes. I scroll right/left up/down in videos and gifs to demonstrate that generated images are periodic.

[2016-10-10 18:23] nanodeath commented on #3
@mxgmn Ah...I had no idea what the panning was supposed to signify. I just assumed you were generating a larger image than what was initially being shown, and then panning for effect. Anywho, glad to learn more about the codebase.

[2016-10-10 18:25] mxgmn commented on #3
@nanodeath I also stacked 2 tiled "Rooms" outputs in the readme to demonstrate that they stack seamlessly.

[2016-10-11 12:35] mxgmn commented on #3
@NNNenov @nanodeath Pardon, nvm, this actually can be done fast, I'll do it right now...

[2016-10-11 13:05] selfsame commented on #3
@NNNenov you can take a look at this version of the tiled model, I use strings instead of bitmaps that include a rotation number and parse that for the 3d display ("0foo", "3foo") https://github.com/selfsame/WaveFunctionCollapse/blob/master/SimpleTiledModel.cs

[2016-10-23 12:35] NNNenov commented on #3
Hey! I've just been trying to understand whats happening in the data.xml file for the tilesets.
Here's my understanding so far:

![image](https://cloud.githubusercontent.com/assets/9900819/19625820/c61829fc-991a-11e6-837e-b3a4495968c0.png)
these are all the **types of symmetry** you can define for a tile.

Symmetry types define which way the tiles' neighbor rule can be mirrored to accommodate for

[2016-10-24 19:59] mxgmn commented on #3
In this castle example top row is `<neighbor left="roadturn 1" right="tower"/>` and bottom is `<neighbor left="roadturn 2" right="tower"/>`. What does that mean?

![](http://i.imgur.com/8zPKB98.png)

First, note in the Castle example tower tile has symmetry type L despite its picture having symmetry type X.  I've redrawn it a little so L-symmetry would be apparent.

Imagine that we don't have any

[2016-10-26 09:13] usernameak commented on #23
@mxgmn When later

[2016-10-26 10:59] mxgmn commented on #23
@usernameak Some basic 3d version with text output - this week. Full 3d repo including generation of Minecraft levels - not soon, I'm working on generalizing WFC in a different direction now.

[2016-10-29 05:05] Asmageddon commented on #23
What is the different direction, if I may ask?

[2016-10-29 10:33] mxgmn commented on #23
@Asmageddon Secret! =)

[2016-10-30 15:17] MatveyK opened #29 "How to implement the autocompletion of the user input?"
Hello, awesome work on this algorithm. Really cool stuff.

I'm still reading the code and getting a grip on what's happening, so I don't understand every part of the code yet. But in the readme you give an example of a human started level completed by the algorithm. So I tried to implement that.

I tried manually creating a wave that has only one coefficient set to true on the tiles that I draw, w

[2016-10-30 16:08] NikkyAI commented on #29
i hope i can help a little ..
i made myself a little table to understand how it works

as far as i understand you match the right side of the left piece and the left side of the right piece
the left piece can be rotated *left* by x the L x number pointing to where the side thats compared will end up
the right piece cna be rotated *right* by x and i marked it using R x

|          |     |

[2016-10-30 18:30] selfsame commented on #29
@MatveyK I believe @mxgmn mentioned you have to call Propagate a few times after manually writing the wave coefficients? Interested in how to set this up as well :)

[2016-10-30 21:04] mxgmn commented on #29
Hi! After setting up the wave (=observing with predetermined results) you need to propagate the obtained information with `while(Propagate());`. See, for example, how i set up the ground constraint in `OverlappingModel.Clear()`.

[2016-10-30 21:13] mxgmn commented on #29
@NikkyAI Yeah, the quickest way to setup adjacency data is just to label the edges of each tile. Then the settings xml files for each tileset would be very short. However, this works only with transitive adjacency data - if tile A can connect to tiles B and C then tiles B and C should also connect. Knots and Circles tilesets are transitive, the others - not.

[2016-10-30 21:17] mxgmn commented on #29
I explained how to handle constraints in more detail in [this issue](https://github.com/mxgmn/WaveFunctionCollapse/issues/25).

[2016-11-02 21:23] pointyointment commented on #3
@CoenraadS

Step 2 fails, saying:

I have tried various things without success.

[2016-11-03 10:13] mxgmn commented on #3
@pointyointment I don't know why it fails, but you can also try building through Visual Studio:

1. Download Visual Studio 2015 Community (free).
2. Create a console C# application (file -> new project).
3. Delete Program.cs.
4. Add all WFC .cs files.
5. Add System.Drawing reference through solution explorer on the right.
6. Move all WFC data files to bin/Release.
7. Switch to release build option

[2016-11-03 10:23] CoenraadS commented on #3
@pointyointment

nuget install Microsoft.Net.Compilers -Version 1.3.2

Not sure what changed since I posted, but it seems a version is required now.

[2016-11-03 20:31] #29 closed

[2017-01-18 10:00] buckle2000 opened #30 "A question"
WTF is this?
https://github.com/mxgmn/WaveFunctionCollapse/blob/6c1481c2aa42cb443ff44727cdd5c24312d67207/Model.cs#L101

[2017-01-18 12:23] mxgmn commented on #30
This is an extension method defined in Stuff.cs. It returns a random index of an array according to a probability distribution in that array.

[2017-01-18 12:23] #30 closed

[2017-01-18 14:32] buckle2000 commented on #30
Thanks!

[2017-07-22 13:41] kronpano commented on #3
Not sure if this is still active but could somebody expand a bit on a 3D extension of the SW??
I was thinking of extending the XML with an "up" tag and then I would somehow need to "fix" those tiles in that level and build the rest around it??
Does that sound reasonable??

[2017-07-23 10:51] mxgmn commented on #3
@kronpano What is SW? I uploaded a simple 3D implementation of WFC [here](https://bitbucket.org/mxgmn/basic3dwfc/overview), the algorithm is the same in 3D.

[2017-07-23 19:27] kronpano commented on #3
SW = software and Thanks - hadn't seen that - will give it a try.
Cheers

[2017-08-15 15:27] procfxgen commented on #3
I want to generate a city for my voxel game, do you have a simple example, other than knots, to start understand ? thanks.

[2017-08-16 12:31] mxgmn commented on #3
@procfxgen You mean a 3d example? 3d version is not released yet, so only Knots so far. Check out 6 2d example tilesets here, the algorithm is the same in all dimensions.

[2017-08-16 14:43] procfxgen commented on #3
I play with knots 3d example, how to add ground ?

[2017-08-16 21:02] mxgmn commented on #3
@procfxgen Add ground.vox and ground.png, then in data.xml add the ground tile and vertical and horizontal adjacencies with existing tiles.

[2017-08-18 11:11] procfxgen commented on #3
Thanks, I have my ground titles now !

![wfc_01](https://user-images.githubusercontent.com/8511396/29456609-bd41bf40-8416-11e7-9c01-146aa04dcc28.png)

How to make "line" tile above "ground" titles ?
my data.xml

<set pixelsize="8" voxelsize="3">
  <tiles>
    <tile name="down" symmetry="T"/>
    <tile name="empty" symmetry="X"/>
    <tile name="line" symmetry="I"/>
    <tile name="turn" symmetry="

[2017-08-18 12:40] mxgmn commented on #3
@procfxgen Try this
[code]
It should generate vertical columns.

[2017-08-18 12:53] procfxgen commented on #3
sorry volume is empty ....

"vertical" correspond to blue axis (Z) and "horizontal" (X,Y) to red axis in magicavoxel  ?

[code]

[2017-08-18 14:52] mxgmn commented on #3
@procfxgen This data.xml
[code]
and this samples.xml
[code]
should generate vertical columns.

If you want 3d, I think it's better to wait for a proper 3d release in September-October, it'll be much easier to experiment with, or try [VoxModSynth](https://github.com/sylefeb/VoxModSynth).

[2017-08-18 14:57] mxgmn commented on #3
@procfxgen Yes, vertical corresponds to blue in MV, left=top, right=bottom. Horizontal - to red, and then it mixes red and green with symmetries.

[2017-08-18 16:11] nanodeath commented on #3
@mxgmn, is there a way you can close and lock this issue? Right now it seems to get reused every time anyone has a question (and emailing 23 people in the process), when really those questions should be new issues. Thanks!

[2017-08-18 18:49] mxgmn commented on #3
@nanodeath Oh, didn't know about that, closing.

[2017-08-18 18:49] #3 closed

[2017-08-27 19:23] tyronx opened #32 "No longer able to compile using Visual Studio Community / .net Framework"
Is this a mono framework only feature or something?

![compileerror](https://user-images.githubusercontent.com/762006/29753272-fbda5470-8b6d-11e7-8d50-e8460efbb16f.png)

[2017-08-28 13:59] mxgmn commented on #32
It's a C# 7.0 notation. You can either change this to Func<> (see how it was in the previous commits) or use a compiler version that supports 7.0, it's enabled in VS 2017 by default.

[2017-08-28 13:59] #32 closed

[2017-10-21 01:47] NikkyAI opened #33 "exception when running WFC-3D.exe"
i am trying to create 3d models, voxelsize: 8
could that be more than the program expects to handle ?

[code]

[2017-10-21 01:56] NikkyAI commented on #33
or maybe i did not save the vox files correctly, i edited them with magicalvoxel on windows

[2017-10-21 11:04] NikkyAI commented on #33
so i fixed it
in the vox parsing i added:
[code]

in several other places i also fixed up the comment handling

[code]

[2017-10-21 12:44] mxgmn commented on #33
Thanks!

I'm preparing a proper 3d version of WFC, it'll work with the latest vox format.

[2017-10-21 12:44] #33 closed

[2017-11-18 05:40] ScienceSheepStudios opened #34 "Can't run because of compile errors"
Whenever i run the project from VS15, i get 50 syntax errors, and i'm not sure how to fix them. (Please note i am still very new to programming)
Picture:
https://gyazo.com/a92b0a9da673cdedd8488889fe63f617

[2017-11-18 05:43] ScienceSheepStudios commented on #34
Fixed by looking at other closed issues.

[2018-04-17 04:39] mobi12 opened #35 "two mistake of OverlappingModel.cs file"
1.var bitmap = new Bitmap($"sample/{name}.png"); have a mistake,I use vs2017 build program then visual studio tell me no context on this file of "name".

2.file path only use absolute address

[2018-04-17 12:53] mxgmn commented on #35
What is the error message exactly?

[2018-04-19 18:41] #35 closed

[2018-04-21 14:00] kjav opened #36 "No option for tile with no symmetry"
Hi,

I'm trying to add a tile to my tileset that does not have symmetry. Here is the tile:

![diagonal2straight](https://user-images.githubusercontent.com/9029686/39084952-897b7280-4574-11e8-8ed2-8e5317f22bbc.png)

I believe that this tile has none of the symmetry types (X, I, L, etc). Please correct me if I am wrong! However, I cannot seem to define this in the data.xml file; In fact, is it true

[2018-04-21 14:05] kjav commented on #36
Here are some of the tiles that it is meant to connect to:

<details><summary>Tile images (click to view)</summary>

![bend](https://user-images.githubusercontent.com/9029686/39085002-0e38bf6e-4575-11e8-840d-858c855bde58.png)
![cross](https://user-images.githubusercontent.com/9029686/39085003-0e527f58-4575-11e8-8561-7ec272916633.png)
![diagonal](https://user-images.githubusercontent.com/9029686/39

[2018-04-21 15:56] TygerTyy opened #37 "No flag found"
For the competition PACTF, there is a question about a programmer cutting off a branch of a github repository. The files given in the problem are the same files in this repository except for the fact that this repository has the gitignore and gitattributes files. Is there a link to the ctf here? If there is, then where is the flag

[2018-04-21 16:51] #37 closed

[2018-04-22 13:13] mxgmn commented on #36
Hi! You're right, there is indeed no option for a tile with no symmetry. I'll patch this up eventually, but I'm not sure when, it requires more than just adding `else if (sym == 'J') { cardinality = 8; ...; }`. I'm releasing a new version of WFC soon (as part of a larger project) with a different symmetry system that doesn't have this problem, because it induces the symmetry type from a low-pixel

[2018-04-24 17:02] kjav commented on #36
Hi mxgmn,

Thanks for your reply - I'm glad I understood the problem correctly! Could you explain why adding a "cardinality = 8" option would not fully solve the problem? For instance, adding the following symmetry option does not solve the problem but I do not understand why:

[code]

[2018-04-25 13:55] mxgmn commented on #36
Because it currently assumes that all symmetries of the tile could be reached by rotating the base tile (which is not true for your example). And by setting `i => 0` you are actually describing a maximally symmetric case. The right `a` action would look more like `i => (i + 1) % 8`.

[2018-05-08 03:00] greentec opened #38 "I tried to solve the problem with constraints, but there are too many failures. Is this normal?"
Hello!
Thanks for great algorithm, I saw this stuff on reddit and following until nowadays.
Recently, I tried your algorithm with fast-wfc (but you added this with your repo too), and I found this is very fast but also memory-consuming. For make bigger map, I got out-of-memory error.
So I tried make many maps like grid, and patch them together. So I tried to solve the problem with constraints (pre

[2018-05-08 10:32] #38 closed

[2018-05-08 10:33] greentec commented on #38
Never mind.. I got some miss.

[2018-05-08 13:48] mxgmn commented on #38
8000 patterns is quite a lot. For such inputs, [texture synthesis](https://en.wikipedia.org/wiki/Texture_synthesis) should do a better job, though you lose the (C1) condition. I have some algorithms in [another repo](https://github.com/mxgmn/SynTex). My hardest WFC example (3Bricks.png) has 423 patterns, and most have <128.

[2018-05-08 14:44] greentec commented on #38
@mxgmn Thank you for your advice. I will check [SynTex](https://github.com/mxgmn/SynTex)! Actually, I was still getting some failing because of many patterns..

[2018-05-12 20:13] chrisabbott opened #39 "Cannot compile on MacOS"
Hey, I'm running into some issues compiling this using mcs on MacOS High Sierra. Specifically, here's my terminal output after running
`mcs -pkg:dotnet /reference:System.Drawing.dll *.cs` and installing mono using brew. I'm not at all familiar with C# or .NET, so any guidance with this would be appreciated ...  it definitely looks like a versioning issue.

**Here's my mono version:**
[code]

**And

[2018-05-13 15:40] mxgmn commented on #39
Yeah, it's a versioning issue, it doesn't understand local functions that were added in C# 7. To solve it, either change local functions to Func<> and Action<> (see the syntax in the first commit) or use a compiler that supports C# 7. I think Mono should, just need to enable it somehow, latest NET Core definitely does.

[2018-05-13 15:40] #39 closed

[2018-05-15 14:39] chrisabbott opened #40 "Building Simple Tiled .xml"
Hi, not really an issue, but are we intended to build our own data.xml files (similar to the summer tileset) manually? Or is there a way to infer this from an existing level design? I currently have a fairly large tileset that I'm trying to map out, and I can't help but feel like I'm definitely making mistakes while trying to do this manually.

[2018-05-29 05:21] greentec opened #41 "If overlapping model is on 3D, empty pattern and whole pattern (pattern with full same voxels) dominates all."
Hello!
I'm trying 3D version of Overlapping Model, but I met this issue. In many cases, empty pattern (with no voxel) and whole pattern (with full same voxels) dominates all. I cut off the weights to 1, but I thought this is not the best answer. Because almost every building or object has empty pattern and full pattern. So it's natural, but hard to get naturalness.
So did you tried any density fun

[2018-05-29 16:11] mxgmn commented on #41
Hi! What's your input?

One way to introduce densities is to weight colors, then compute pattern weights by multiplying corresponding color weights.

[2018-05-29 16:11] #41 closed

[2018-05-30 02:17] greentec commented on #41
Oh, that's a good approach. I will try it. My input is your 'SeaVillas' model. I'm trying to merge all models into one .vox file, and translate that to unique voxel (5x5x5 -> 1x1x1). And then apply overlapping model, finally translate voxel to original pattern (1x1x1 -> 5x5x5).

[2018-07-17 15:37] SneakyTactician opened #42 "Usage in a Game"
Hi,

I'm interested in using your project in a game called [Magical Life](https://github.com/SneakyTactician/MagicalLife). Is there a Nuget package of your project, or some way I can incorporate it into my game? Does your project's license allow for usage in a game?

Thanks,
SneakyTactician

[2018-07-18 02:59] mxgmn commented on #42
Hi!

No Nuget.

Yes, you can use the code in a game, it's under MIT license.

[2018-07-18 02:59] #42 closed

[2018-07-18 03:09] SneakyTactician commented on #42
Okay, Thanks!

[2018-08-24 12:07] shviller commented on #36
I'm late to the party, but oh well, at least for posterity: the already mentioned [fast-wfc](https://github.com/math-fehr/fast-wfc/) has a `symmetry="P" option, and additional indices for flipped+rotated tiles (4 for horizontally mirrored tile, for example)

[2018-10-10 01:48] nornagon commented on #39
FWIW, I managed to compile and run successfully on macOS with:

[code]

[2018-11-14 21:03] lodenrogue opened #45 "Java implementation"
I see a Kotlin implementation but it would be nice to have a pure Java implementation.

[2018-11-14 22:41] mxgmn commented on #45
I agree.

[2018-11-14 22:41] #45 closed

[2019-01-17 18:03] LearnedLately opened #51 "Entropy Calculation"
I'm trying to make sense of the entropy calculation. [Line 61 in Model.cs](https://github.com/mxgmn/WaveFunctionCollapse/blob/master/Model.cs#L61) has:
`startingEntropy = Math.Log(sumOfWeights) - sumOfWeightLogWeights / sumOfWeights;`

and the readme says this is the Shanon Entropy, which should be `-sumOfWeightLogWeights` with log base 2, though the choice of log base doesn't change the result of

[2019-01-17 21:31] mxgmn commented on #51
If you apply the logarithm property log(ab)=log(a)+log(b), you'll see that they are equivalent.

Why not just normalize the weights and do all calculations with probabilities via standard Shannon formula? Because the normalizing factor is different for different wave configurations.

[2019-01-17 21:31] #51 closed

[2019-01-17 22:12] LearnedLately commented on #51
Sorry, you're right. I see now. Starting with:
`1. entropy = -sum(log(weight[i] / sumOfWeights) * weight[i] / sumOfWeights)`
You can expand it to:
`2. entropy = -sum( (log(weight[i]) - log(sumOfWeights)) * weight[i] / sumOfWeights )`
and split it into two sums:
`3. entropy = sum( log(sumOfWeights) * weight[i] ) / sumOfWeights - sumOfWeightLogWeights / sumOfWeights`
The first sum is just log(sumOfW

[2019-01-19 07:40] GitAshraf opened #52 "Machine learing"
I think thats nice its a experience for the new cumor

[2019-01-19 15:38] #52 closed

[2019-06-20 09:10] zzz6519003 commented on #36
how is this related to chaos theory? & hope for the demo!

[2019-08-28 13:09] ericoporto opened #55 "[not an issue] using this algorithm in a game engine plug-in"
Good day,

I added this algorithm, using the implementation  [fast-wfc](https://github.com/math-fehr/fast-wfc) from Mathieu Fehr and Nathanaël Courant, as a plug-in to be used with Adventure Game Studio:

https://github.com/ericoporto/agsfastwfc

![example_demo_game (1)](https://user-images.githubusercontent.com/2244442/63858107-4c504480-c97b-11e9-9e67-2a848eca39b9.gif)

I haven't added full API y

[2019-08-28 14:29] mxgmn commented on #55
Cool!

[2019-08-28 14:29] #55 closed

[2019-09-22 18:29] keudosan opened #56 "potentially erroneous entropy calculation"
https://github.com/mxgmn/WaveFunctionCollapse/blob/3157ed05751f7a25a78b623d3a5fe67488fc4ce7/Model.cs#L61
as far as i can tell, this expression does not end up being equal to the definition of shannon entropy. could a proof of this formula's correctness be provided?

[2019-09-22 18:53] keudosan commented on #56
well i figured it out a few minutes later, so nevermind that

[2019-09-22 18:53] #56 closed

[2019-11-10 17:32] GameplayJDK commented on #45
I'm currently working on a java port. You can find it [here](https://github.com/GameplayJDK/java-wfc).

For now I only managed to port the algorithm to java, but it does not yet support textures, as I plan to use it as a generic starting point for different types of projects. That's also why I did not follow the approach of creating an abstract base class, which can be extended by concrete impleme

[2019-12-01 12:33] sjcasey21 opened #58 "Java implementation"
I wrote a java port of both the SimpleTiledModel and the OverlappingModel available [here](https://github.com/sjcasey21/wavefunctioncollapse/tree/master).

[2019-12-03 18:08] mxgmn commented on #58
Linked it!

[2019-12-03 18:08] #58 closed

[2020-01-03 01:05] PrettyFlower opened #60 "Neighbor constraints do not always appear to be enforced"
Not sure if I'm just doing something wrong here but I tried running the algorithm today on a dummy tileset I made and got some results I wasn't expecting. I've uploaded a zip file with what I was using here: [Base.zip](https://github.com/mxgmn/WaveFunctionCollapse/files/4017847/Base.zip)

I modified samples.xml with this entry:
[code]

I also had to modify the for loop in Main.cs to let me run the

[2020-01-03 07:25] mxgmn commented on #60
So you have 3 tiles essentially: center, corner, wall. My "Rooms" tileset contains these tiles (they're called empty, corner, side). Try making a subset of these 3 tiles (see how to make a subset in Knots/data.xml). Does it work?

[2020-01-03 14:30] PrettyFlower commented on #60
The rules for the "Rooms" tileset didn't quite match what I was trying to do, as they're more permissive. I had to pare them down to this:
[code]

I'm trying to just generate one big room, so corners/walls aren't allowed to be across from each other. I was still able to get that in the results though:
![image](https://user-images.githubusercontent.com/2081059/71728543-58f21700-2e0b-11ea-81e1-3db95

[2020-01-03 19:10] mxgmn commented on #60
I see. This happens because some tiles (side, corner) in your tileset don't have any allowed neighbors in some direction, and my propagation code assumes that in every direction any tile has >0 neighbors. A quick solution would be to return an error after [line 196](https://github.com/mxgmn/WaveFunctionCollapse/blob/50765fbd089f088976fc66a6bb1544d0703b0b77/SimpleTiledModel.cs#L196) if `ST == 0`. I

[2020-01-03 20:03] PrettyFlower commented on #60
Hmm...interesting. Thanks for looking into this. As a workaround, I tried adding the wall tile back to the Rooms tileset and increasing the output size to 5x5 tiles, the idea being that the wall tiles can be placed along the outside edges and will satisfy the >0 neighbors constraint for sides, corners, and themselves. However I was still able to reproduce the issue. I did notice that returning an

[2020-01-17 02:34] toyboot4e commented on #60
This happend in my overlapping model implementation where periodic input is not allowed.

[2020-03-30 18:04] chriskkkkl commented on #36
Just add this to the list of symmetry operations/functions.
else if (sym == 'F')
            {
                cardinality = 8;
                a = i => i < 4 ? (i + 1) % 4 : 4 + (i - 1) % 4;
                b = i => i < 4 ? i + 4 : i - 4;
            }

[2020-04-18 14:16] mlevin77 opened #63 "Can't run it on Mac OS"
I am trying to run it on Mac OS (10.13). I've downloaded the dotnet and installed it as indicated on the main page of this package. I then run with

% ./dotnet run ~/Desktop/WaveFunctionCollapse-master/WaveFunctionCollapse.csproj --project ~/Desktop/WaveFunctionCollapse-master/

  and I see:

It was not possible to find any compatible framework version
The framework 'Microsoft.NETCore.App', versio

[2020-04-18 17:09] kchapelier commented on #63
Try downloading the 2.1 SDK from this link instead: https://dotnet.microsoft.com/download/dotnet-core/2.1

You might also try using Mono instead, it's personnally what I used to make it run on macOS Sierra. There are two issues with information about this : https://github.com/mxgmn/WaveFunctionCollapse/issues/39#issuecomment-428410275 & https://github.com/mxgmn/WaveFunctionCollapse/issues/3

[2020-04-19 10:17] mlevin77 commented on #63
I installed the 2.1 SDK and I get:

% /usr/local/share/dotnet/dotnet run WaveFunctionCollapse.csproj
< Chess

Unhandled Exception: System.TypeInitializationException: The type initializer for 'Gdip' threw an exception. ---> System.DllNotFoundException: Unable to load DLL 'libgdiplus': The specified module could not be found.
   at System.Runtime.InteropServices.FunctionWrapper`1.get_Delegate()

[2020-04-19 10:29] mlevin77 commented on #63
update. I installed Brew and did "$ brew install mono mono-libgdiplus" and now it seems to work. But

run WaveFunctionCollapse.csproj

processes all of the supplied examples.  Is there a manual somewhere that explains how to create my own example and have it make the tilemap?

[2020-04-19 10:53] mxgmn commented on #63
You need to describe the tileset like [this](https://github.com/mxgmn/WaveFunctionCollapse/blob/master/samples/Summer/data.xml) and then link it from samples.xml. You can comment out other examples there.

[2020-04-19 10:53] #63 closed

[2020-04-23 20:29] 1Hyena opened #64 "Deadlock when collapsing"
This is not directly related to this particular implementation of WFC but more of a theoretical and a general problem. Recently I started developing my own implementation of WFC that operates on an unbounded output and tolerates contradictions (algorithm does not stop at a contradiction but instead provides contradictions as part of the solution). While my algorithm is generally working as expecte

[2020-04-24 07:20] mxgmn commented on #64
Could you give an example of this behavior? The choice of a pattern is still random, even with a deterministic heuristic.

[2020-04-24 12:14] 1Hyena commented on #64
Yes, sure. I made a bunch of screenshots. I hope this explains the situation.

This is the input:
![archetype](https://user-images.githubusercontent.com/3479475/80211203-f1700980-863d-11ea-8919-8c300c4f8925.jpg)

This is the expected output (you can see contradictions as empty tiles surrounded by question marks):
![expected](https://user-images.githubusercontent.com/3479475/80211205-f208a000-863d-

[2020-05-10 04:27] Schizo opened #65 ""Voxel models generated with WFC and other algorithms will be in a separate repo.""
That's an excerpt from the readm, in which repo are the voxel models?

[2020-05-10 08:29] mxgmn commented on #65
Still working on it! Screenshots are on [twitter](https://twitter.com/ExUtumno/status/1141354217774428160).

[2020-05-10 08:29] #65 closed

[2020-05-12 23:58] StonerDude commented on #65
I wish to appeal this. This needs to be re-opened.

On Sun, May 10, 2020 at 1:29 AM Maxim Gumin <notifications@github.com>
wrote:

[2020-06-21 05:18] bitinn opened #66 "Reuse parts of outcome as constraints, and still obtain the same outcome?"
<img width="561" alt="Screen Shot 2020-06-21 at 13 05 36" src="https://user-images.githubusercontent.com/1484279/85217127-f2b07f00-b3bf-11ea-8865-a9be02f587ab.png">
<img width="566" alt="Screen Shot 2020-06-21 at 13 05 42" src="https://user-images.githubusercontent.com/1484279/85217129-f6440600-b3bf-11ea-806b-ae3f1055fce5.png">

WFC allows us to set some initial constraints to limit outcomes.

One

[2020-06-21 07:53] mxgmn commented on #66
Please help me understand your question. By seed you mean a PRNG seed or seed as the constrained part?

[2020-06-21 08:01] bitinn commented on #66
The `same seed` here mean 2 things: (1) The PRNG seed we feed to the WFC run remains the same. (2) Since the constrained seed for each tile is derived from the PRNG seed and tile index, we can guarantee that seed is order independent as well.

The problem is weight probability has changed due to constraint propagation. So we can no longer obtain the same tile observation result.

My StackOverflow

[2020-06-21 08:33] mxgmn commented on #66
I see. So you're trying to get the same result from 2 different constrained parts. Just interesting, why would you want to do this?

You can fix the order of observation. Or you can generate result from the first constraint, save this result, and use the choices from the save when generating from the second constraint.

[2020-06-21 08:53] bitinn commented on #66
Imagine this workflow: generate a texture, pick a part of it as constraint, use them to generate again.

Preferably, you want the 2nd result to remain the same, and then you change the seed to get different output.

But in reality the 2nd result won't match, because constraints reduce entropy, so we cannot obtain the same result even though we know it's one of possible solution.

So yeah, it looks

[2020-06-21 09:51] mxgmn commented on #66
I see. Yeah, the simplest solution would be to just save the first result, or save the order of observation.

[2020-06-21 09:51] #66 closed

[2020-07-17 14:38] woocashh opened #67 "Implementation in C"
Hi Maxim,

This is not an issue to your repo, but I do not have Twitter, and so no other way to contact you.

We are a group of first years from Imperial College London. Strongly inspired by your repo, we have made a simple implementation of WFC in C. If you are interested please have a look:

https://github.com/ic-pcg/waveFunctionCollapse

Thank you for your amazing repo, it was most helpful!

[2020-07-18 10:54] mxgmn commented on #67
Hi, Lukasz. I linked it!

[2020-07-18 10:54] #67 closed

[2020-07-18 11:04] woocashh commented on #67
Thank you!

[2020-10-08 06:50] mxgmn commented on #36
I tested @chriskkkkl's solution on the new tileset, it works.

[2020-10-08 06:50] #36 closed

[2020-10-08 06:53] mxgmn commented on #60
I added the quick fix.

[2020-10-08 06:53] #60 closed

[2020-10-08 06:53] #64 closed

[2020-10-08 07:26] 1Hyena commented on #64
@mxgmn no explanation why closing?

[2020-10-08 07:39] mxgmn commented on #64
Because I don't have anything to add to what you wrote.

[2021-01-13 07:47] 2oLDNncs opened #68 "Description of entropy"
The description given in the readme about entropy seems off.

## Experiments

### Overall entropy

**Verification:** in Model.cs inside the for loop of the method Run(), compute sum of entropies before Observe() and after Propagate(), and compare the values.

**Result:** sometimes the sum before is less than the sum after.

**Comment:** the overall entropy can increase after an observe-propagate s

[2021-01-13 16:01] mxgmn commented on #68
Yeah, that's right, propagation can turn the distribution `(0.01, 0.01, 0.98)` into `(0.5, 0.5, 0.0)`, which has a higher entropy. Thanks, I'll correct this.

[2021-01-13 16:01] #68 closed

[2021-10-15 17:07] pvigier opened #70 "Return value of Propagate"
Hi!

Thank you for the algorithm and the code! I was translating the code to C++ and everything makes sense to me except this line:

https://github.com/mxgmn/WaveFunctionCollapse/blob/8bbf089a5882c3ae4093d4f591a1731c4c7761c9/Model.cs#L185

Why are we only interested in the number of remaining tiles for the node 0 for the return value of `Propagate`?

As far as I understand, as soon as the number o

[2021-10-16 06:03] mxgmn commented on #70
Hi! Because as soon as the number of remaining tiles reaches 0 in some node, it becomes 0 in all the other nodes.

Adding a check after each `Ban` is equivalent to this. I think my version would be slightly faster, though I haven't benchmarked this particular change.

[2021-10-16 06:03] #70 closed

[2021-10-16 09:24] pvigier commented on #70
Thank you for the explanation!

[2022-01-05 10:02] sappytictank opened #71 "how"
how it works?

[2022-01-05 14:06] #71 closed

[2022-01-07 11:57] nilsmartel commented on #71
You will find more information in the README

[2022-03-24 13:06] zydjohnHotmail opened #73 "How to generate an XML data file for simpletiled from an image file?"
Hello:
I saw this repo, it looks great.  However, when I tried to use the repo to generate some images, I have some issues.  I have a simple Captcha image: ABCYQ.PNG.
I want to use it for overlapping, so I put this line in Samples.xml:
`<samples>
  <overlapping name="ABCYQ" N="3" symmetry="2" size="30" periodic="True" limit="5"/>
</samples>
`
But for my PC with 16-core CPU, I didn’t get any result

[2022-03-24 15:12] #73 closed

[2022-04-30 20:35] Orangery-DS opened #74 "Unable to get the program to work in Windows 10"
Hello - I have installed 'dotnet sdk' but cannot get the 'dotnet run --configuration Release WaveFunctionCollapse.csproj' command line to work.  Any advice?  Thank you.

[2022-04-30 21:03] masonwheeler commented on #74
"It doesn't work" is not a particularly useful error report.  All that means is "it's doing something other than what I expect it to do."  But if you don't say what it's doing or what you expect, that gives the people who read the error report literally nothing to go on.

Could you explain what you expect it to do and what it's actually doing instead?  For example, if it displays an error message,

[2022-05-01 08:30] Orangery-DS commented on #74
I appreciate you getting back to me.

Yes, I agree, the information I gave you was not much use.  It's just that I spent a couple of frustrating hours trying to get WFC to run.  It meant installing large files such as 'GitHubDestop', '.Net', 'Visual Studio' and 'GitBash'.  YouTube videos weren't that much help either.

Anyhow, I remember now, that I could not get DotNet (.Net) to launch at all.  P

[2022-05-01 09:36] mxgmn commented on #74
Hi! What happens when you run `dotnet run --configuration Release WaveFunctionCollapse.csproj`?

You don't need GitHub Desktop, Visual Studio or GitBash to run it, only .Net.

[2022-05-01 15:15] Orangery-DS commented on #74
That's just it - I couldn't get .Net to launch at all.  I only downloaded and installed other programs as a last resort.  However, I do now remember that I copied and pasted 'dotnet run --configuration Release WaveFunctionCollapse.csproj' into the Windows 10 command prompt via .Net, but there was an issue (see attached).

![dotnet via command prompt](https://user-images.githubusercontent.com/81527

[2022-05-01 15:27] Orangery-DS commented on #74
Sorry about this.  I have since moved all the files from the WFC-master into the same folder as dotnet.exe.  Still an issue though.

![dotnet via command prompt_issue](https://user-images.githubusercontent.com/81527104/166152852-0dc165ec-4d5d-427e-a8f0-7566a14e9e7e.png)

[2022-05-01 16:42] mxgmn commented on #74
Replace `net5.0` with `net6.0` in `WaveFunctionCollapse.csproj` and run the command, it should work. In general, you can navigate to any folder using the `cd` command (google how to use it) and run `dotnet run` from there.

[2022-05-01 16:42] #74 closed

[2022-05-01 16:47] Orangery-DS commented on #74
Okay - please ignore the last two comments.  I had to run command prompt as administrator and I have also now installed .Net version 5.0, instead of 6.0.4.  So I now have all the example files but still don't know how to get WFC running.

![dotnet 5 0 via command prompt](https://user-images.githubusercontent.com/81527104/166155764-ae0f3eff-21a4-4374-aa7e-7ca9f876db3b.png)

[2022-05-01 16:52] Orangery-DS commented on #74
You beat me to it.  So I now have all the example files but how do I get
the WFC to actually run?

Thanks - Dave S.

On Sun, May 1, 2022 at 5:42 PM Maxim Gumin ***@***.***> wrote:

[2022-05-01 17:39] mxgmn commented on #74
It's not example files, it's generated files. You have run it. Example files are in `samples/`.

[2022-05-01 18:41] Orangery-DS commented on #74
I see but what if want to edit the input PNG or try out my own?  Also, how
did you create your visuals (watching the patterns self generate)?

At 14;15 in this video https://www.youtube.com/watch?v=fnFj3dOKcIQ by Brian
Bucklew, he shows a quick code example where you can alter the sample,
output size and orientations.  Is this something I can do by altering your
code, in say Wordpad?

Sorry to be

[2022-05-01 19:29] mxgmn commented on #74
Sure, you can alter the code or alter sample PNGs. Edit `samples.xml` to run with your own samples.

[2022-06-09 14:10] xdYoung opened #75 "太棒了！！！"
关注大牛您（star）了...

[2022-06-09 19:51] #75 closed

[2022-08-10 04:29] Moonfair commented on #70
But why would that happen?

[2022-08-10 20:27] mxgmn commented on #70
@Moonfair Suppose there 0 tiles available in some node. This means that all tiles are forbidden in adjacent nodes too, and so on.

[2022-08-11 17:57] 10maurycy10 opened #78 "Please comment the code!"
Comments make reading and debugging the code much easier.

They are especially necessary if the code has one letter variable names!

[2022-08-12 09:27] Moonfair commented on #70
@mxgmn That sounds reasonable! Thank you!

[2022-08-12 11:27] mxgmn commented on #78
I agree. Will add a few comments when I have time. Right now I can say that in `SimpleTiledModel.cs` `a` is a 90 degrees rotation, and `b` is tile reflection.

[2022-09-02 17:16] KierPrev opened #79 "This project is using the name "Wave function collapse" for a process that is not the physics Wave Function Collapse"
This code doesn't include actual quantum concepts per se, nor wave functions in the complex plane, nor Schrödinger equation, please make the statement clear about not using real physics.

[2022-09-02 17:26] magnetomage commented on #79
This algorithm is known as the wave function collapse algorithm. I am sorry that you confused it for a similarly named but entirely different thing in the realm of physics; but this is named correctly.

[2022-09-02 17:46] mxgmn commented on #79
This is made clear in the second paragraph.

[2022-09-02 17:46] #79 closed

[2022-10-08 02:02] HyperBeast43 opened #80 "N values above 3 hang"
Is it just... hardcoded? If so, that's not really good practice...

[2022-10-08 08:12] mxgmn commented on #80
What exact set of parameters is causing it to hang?

[2022-10-09 21:36] ibispi opened #81 "Suggestion for a different name: Sudoku Collapse"
I've noticed whenever someone tries to explain this algorithm, they compare it with the process of solving a sudoku puzzle, so maybe rename the project (and therefore the algorithm) to:
Sudoku + (WaveFunction) Collapse = SudokuCollapse, best of both worlds?
This way the phrase wouldn't collide with that which it is inspired by (https://github.com/mxgmn/WaveFunctionCollapse/issues/79) but would sti

[2022-10-09 23:34] BenMcLean commented on #81
https://trademarks.justia.com/779/34/sudoku-77934545.html

[2022-10-10 01:28] Nekkowe commented on #81
Okay, without commenting on the issue itself: it says RIGHT THERE that

and that it applies to

I don't think that it has any bearing on this.